# extension of 'https://github.com/mewwts/addict' with JSON converter
addict @ https://github.com/fmigneault/addict/archive/json.zip

## USING FastAPI
fastapi[all]
fastapi-mako
pydantic
uvicorn[standard]

importlib-metadata
python-dateutil
pyyaml
requests
webargs
