
body {
    margin: 1em;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left;
}

th[rowspan] {
    vertical-align: center;
}

table th {
    background-color: darkgrey;
}

table th,
table td  {
    text-align: left;
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.25em;
}

.body-menu {
    margin-bottom: 1em;
}

.consents > div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.consents-latest th,
.consents-latest td  {
}

.consents-history th,
.consents-history td {
}

.consents-history td {
    padding: 0.25em;
}

.consents-history th {
    background-color: darkcyan;
}

.consents-history table {
    border: 1px solid;
}

.consents-status {

}

.warning {
    color: #B8860B;
}

.hash,
.uuid {
    font-family: "Lucida Console", "Courier New", monospace;
}

a,
a:visited {
    color: blue;
}


.label {
    display: inline;
    padding: 0.2em 0.5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #5BC0DE; /* info default */
}

.version-box {
    position: absolute;
    right: 0;
    bottom: 0;
}

.version-box > div {
    font-size: 75%;
    display: inline-block;
    position: relative;
    bottom: 1em;
    right: 1em;
}

.version-title {
    color: gray;
    font-size: 90%;
}

.version-tag {
}
